/**
 * @name Fwoppi's Theme
 * @author xf1op
 * @description Meow!
 * @version 1.2.3
 */

:root {
  --primary-100: #ffffff;
  --primary-130: #ffffff;
  --primary-160: #ffffff;
  --primary-200: #ffffff;
  --primary-230: #ffffff;
  --primary-260: #ffffff;
  --primary-300: #ffffff;
  --primary-330: #ffffff;
  --primary-345: #ffffff;
  --primary-360: #ffffff90;
  --primary-400: #ffffff;
  --primary-430: #ffffff;
  --primary-460: #ffffff;
  --primary-500: #002070;/* buttons */
  --primary-530: #002070;
  --primary-560: #002055;/* inputbar */
  --primary-600: #002065;/* background */
  --primary-630: #002050;/* friend list + scroll */
  --primary-645: #002050;
  --primary-660: #002045;/* side profile + small profile bar under friendslist */
  --primary-700: #002050;/* servers + topbar */
  --primary-730: #002070;
  --primary-760: #002070;
  --primary-800: #002050;/* profile color */
  --primary-830: #002050;
  --primary-860: #002070;
  --primary-900: #002070;
}
*, ::before, ::after {
  animation: none !important;
  transition: none !important;
}
.embedMedia__623de, .oneByOneGridSingle_f4758a, .imageWrapper_af017a, .embedVideo__623de video, .visualMediaItemContainer_f4758a {
  border-radius: 0;
}
.outer_c0bea0.panel_c0bea0 {
  width: 280px;
}
.banner__68edb, .banner__68edb.banner__537ec {
  background-image: url("https://raw.githubusercontent.com/xf1op/DiscordThemeIThink/refs/heads/main/puppi.png");
}
