/**
 * @name Flop' o' purpcord
 * @author xf1op
 * @version yes
 * @description Custom Theme And Random Stuff :3
*/

* {
  animation: 0 !important;
  transition: 0 !important;
}

.outer_c0bea0 {
  width: 280px;s
}
