/**
 * @name Floppi's theme
 * @author xf1op
 * @version yes
 * @description Theme
*/

* {
  animation: 0 !important;
  transition: 0 !important;
}

:where(.outer_c0bea0).panel_c0bea0 {
  width: 280px;
}
