/**
 * @name Floppi's theme
 * @author xf1op
 * @version yes
 * @description Theme
*/

* {
    animation: 0 !important;
    transition: 0ms !important;
}
.sidebar_c48ade {
    width: 290px;
}
:where(.outer_c0bea0).panel_c0bea0 {
    width: 280px;
}
.text-sm\/normal_cf4812 {
    display: block;
    line-height: 1.05;
}
.banner__68edb, .banner__68edb.banner__537ec {
    background-image: url(https://raw.githubusercontent.com/xf1op/DiscordThemeIThink/refs/heads/main/puppi.png)
}
